body {
  font-family: poppins, arial, sans-serif;
  margin: 0px;
}
body h3 {
  font-family: "Courier New";
}
h1 {
  background-color: red;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 10px;
}
.navbar ul{
  list-style-type: none;
  background-color: #40403b;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: #1f1f1c;
}
.navbar li{
  float:left;
}
div p{
  font-family: verdana;
}

.search {
width: max-content;
display: flex;
align-items: center;
padding: 14px;
border-radius: 28px;
background: #f6f6f6;
}

.search-input {
font-size: 16px;
font-family: poppins, arial, sans-serif;
color: #333333;
margin-left: 14px;
background: transparent;
border: none;
outline: none;
}

img { 
max-width: 100%;
height: auto;
}

@media (min-width: 200px) {
img.large {
max-width: 1200px;
}
}
