body {
  font-family: poppins, arial, sans-serif;
}
body h3 {
  font-family: "Courier New";
  margin: 0px;
}
h1 {
  background-color: red;
  text-align: center;
  margin: 0px 0px 2px 0px;
  padding: 10px;
}
